@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

   
}
body{
    background-color: #010103;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}




section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: chocolate;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background-color: chocolate;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background-color: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.header .navbar a:hover{
    color:chocolate;
    border-bottom: .1rem solid chocolate;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:chocolate;
}

.image1{
    text-align: center;
}
.current-a{
    color:chocolate;
}


h3{
    color: beige;
    font-size: 22px;
    margin-bottom: 10px;
}
#h3-1{
    margin-top: 7px;
}
p{
    color: bisque;
    font-size: 14px;
    margin: 0 0 10px;
}

#basket-img{
    width: 40px;
    height: 40px;
    color: white;
}

.cart-btn{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    cursor: pointer;
}


/* footer start  */

.responsiveSiteFooter {
    background: #1f1f1d;
    padding-bottom: 32px;
    padding-top: 32px;
}

.gr-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
/*
.ul1, .ul2, .div-connect, .ColumnContents {
    margin-left: 30%;
    
}*/

.responsiveSiteFooter__heading{
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.15;
    text-transform: uppercase;
    

}

.responsiveSiteFooter__linkListItem{
    font-size: 14px;
    color: rgb(196, 198, 199);

}
.responsiveSiteFooter__link{
    color: rgb(196, 198, 199);

}
.responsiveSiteFooter__socialLink img{
    color: rgb(196, 198, 199);
}

#library-inc{
    padding: 5px;
}

/* footer end  */


.basket-div {
    min-height: 600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(black, gray);
}

.elements{
    color: aliceblue;
}
.div-element{
    background-color: #d7d6d680;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin: 8px;
    width: 230px;
    padding: 10px;
    height: 360px;
}

.div-element img {
}

.title-h3{
    text-align: center;
    color:beige;
    font-size: 20px;
    font-weight: bold;
}

.author-p{
    color: beige;
}

.price-p{
    color: beige;
    font: 12px;
}

#basket-img{
    width: 40px;
    height: 40px;
    color: white;
}

.cart-btn{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    cursor: pointer;
}


.allow-cart{
    width: 40%;
    height: 70px;
    border-radius: 5px;
    background-color: rgb(21, 53, 21);
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.btn-div{
    display: flex;
    justify-content: center;
    background-color: gray;
   
}