html,
body {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

@media (min-width: 320px) and (max-width: 991px) {
    #content_container {
        width: 75%;
        height: 42%;
    }
    
    #form_container {
        width: 100%;
        height: 100%;
    
        background-color: #3d3a3b;
        box-shadow: 0 0 50px -20px #fffbfb;
        border-radius: 2%;
    
        overflow: hidden;
    }
    
    #form_header_container {
        width: 100%;
        height: 5%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
    
        padding: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    
        border-bottom: 1px solid transparent;
        border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);
    
        background: #000;
    }
    
    #form_header {
        display: inline-block;
        font-size: 15px;
        font-family: Bowlby One SC;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
    
        color: wheat;
    
    }
    
    #form_content_container {
        width: 100%;
        height: 90%;
    
        float: left;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding-top: 30px;
    }
    
    #form_content_inner_container {
        width: 75%;
        height: 100%;
    
        float: left;
    
    }
    
    input {
        width: 100%;
        height: 40px;
    
        padding-left: 10px;
        margin-bottom: 20px;
    
        background: #000;
        font-family: Montserrat;
        font-weight: 500;
        color: #fff;
        font-size: 12px;
    
        border-bottom: 2px solid transparent;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);
    
    }
    
    #button_container {
        width: 100%;
        height: 20%;
    
        color: #fff;
    
        float: left;
        display: flex;
        justify-content: center;
    
        margin-top: 5px;
    }
    
    #button_container button {
        width: 50%;
        height: 100%;
        float: left;
        border: 1px solid #9e9da1;
        border-radius: 4px;
        font-family: Montserrat;
        letter-spacing: 1px;
        font-weight: 900;
        font-size: 12px;
    
        cursor: pointer;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #backButton {
        position: fixed;
      top: 20px; 
      left: 20px; 
      background-color:#3d3a3b ;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    
      }



}




/* tablet */
@media (min-width: 992px) and (max-width: 1279px) {

#content_container {
    width: 55%;
    height: 43%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: #3d3a3b;
    box-shadow: 0 0 50px -20px #fffbfb;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);

    background: #000;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: wheat;

}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;

    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);

}

#button_container {
    width: 100%;
    height: 20%;

    color: #fff;

    float: left;
    display: flex;
    justify-content: center;

    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #9e9da1;
    border-radius: 4px;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#backButton {
    position: fixed;
  top: 20px; 
  left: 20px; 
  background-color:#3d3a3b ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  }
}




/* desktop */
@media (min-width: 1280px) {
#content_container {
    width: 35%;
    height: 40%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: #3d3a3b;
    box-shadow: 0 0 50px -20px #fffbfb;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);

    background: #000;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: wheat;

}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;

    float: left;

}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: #000;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    font-size: 12px;

    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #070707, #242323, #4b494a, #9e9da1, #eaecef);

}

#button_container {
    width: 100%;
    height: 10%;

    color: #fff;

    float: left;
    display: flex;
    justify-content: center;

    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #9e9da1;
    border-radius: 4px;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#backButton {
    position: fixed;
  top: 20px; 
  left: 20px; 
  background-color:#3d3a3b ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  }
}